body {
  background-color: antiquewhite;
  font-family: 'Montserrat Alternates', sans-serif;
}
.meetup-heading {
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 65px;
  line-height: 1.2;
}
.container-fluid {
  padding: 3% 15% 0% 15%;
  margin-bottom: 0px;
}
.navbar {
  padding: 0 0 2rem;
}
.nav-item {
  padding: 0 18px 0 18px;
}
#title {
  background-color: #fe536d;  
}

#navbar-brand {
  font-family: 'Ubuntu', sans-serif;
}

/*DOWNLOAD BUTTONS*/
.button {
  margin-top: 60px;
}

/*SECOND SECTION, FEATURE SECTION*/
#features {
  margin: 5% 15% 5% 15%;
  text-align: center;
}
.tick-mark {
  width: 50px;
  margin-bottom: 23px;
}
.target {
  width: 50px;
  margin-bottom: 23px;
}
.heart {
  width: 50px;
  margin-bottom: 23px;
}
/*THIRD SECTION*/
#testimonials {
  background-color: hsl(7, 80%, 69%);
  text-align: center;
  padding: 5%;
  color: white;
}
.goldie-dog-img {
  border-radius: 100%;
  width: 10%;
  margin-bottom: 104px;
}
#press {
  text-align: center;
  padding-bottom: 6%;
}

#pricing {
  text-align: center;
  padding: 5% 15% 5% 15%;
}
.carousel-item {
  padding: 7% 15%;
  position: relative;
}
/*CLOSING TAGS*/
#cta {
  text-align: center;
  color: white;
  background-color: #fe536d;
  padding: 5% 15% 5% 15%;
  font-size: 3.5rem;
}
.instabtn {
  font-family: Georgia;
  color: black;
  font-size: 15px;
  text-decoration: none;
}
.instabtn:hover {
  text-decoration: none;
  color: #fe536d;
}
.ytbtn {
  font-family: Georgia;
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  margin-left: 20px;
}  
.ytbtn:hover {
  text-decoration: none;
  color: #fe536d;
}
#footer {
  text-align: center;
  padding: 5% 15%;
}